/* Reset some default styles and set the font family */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* Style the body */
body {
    height: 100vh;
    display: flex;
    background-color: black;
    overflow: hidden;
}

/* Style the top bar */
.top-bar {
    width: 100%;
    height: 60px;
    background-color: rgb(18, 18, 18);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

/* Style the search container and input */
.search-container {
    display: flex;
    align-items: center;
}

.search-container:hover input {
    width: 200px;
    transition: width 0.8s;
}

.search-container input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: width 0.8s;
    background: transparent;
    font-size: 16px;
    color: white;
    margin-left: 10px;
    padding-right: 20px;
}

.top-bar .search-container input:not(:placeholder-shown):focus,
.top-bar .search-container input:hover,
.top-bar .search-container input:not(:placeholder-shown) {
    width: 0px;
}


/* Style the search icon */
i.bx.bx-search {
    color: white;
    font-size: 16px;
}

/* Style the box elements */
.box {
    height: 20px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: rgb(50, 50, 50);
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    margin-left: auto;
    margin-right: 100px;
}

/* Style the box container */
.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    flex-grow: 1;
}

.logo img {
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

button.Profile,
button.Home {
    background-color: rgb(18, 18, 18);
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    color: white;
    font-size: 20px;
    transition: background-color 0.3s;
}

/* Style the Home button icon when not hovered */
.top-bar .Home .bx.bxs-home-alt-2 {
    display: none;
}

/* Style the Home button icon when hovered */
.top-bar .Home:hover .bx.bx-home-alt-2 {
    display: none;
}

.top-bar .Home:hover .bx.bxs-home-alt-2 {
    display: inline;
}

/* Style the Profile button icon when not hovered */
.top-bar .Profile .bx.bxs-user {
    display: none;
}

/* Style the Profile button icon when hovered */
.top-bar .Profile:hover .bx.bx-user {
    display: none;
}

.top-bar .Profile:hover .bx.bxs-user {
    display: inline;
}